BasedOnStyle: LLVM
ColumnLimit: 110

ContinuationIndentWidth: 4
IndentCaseLabels: true
IndentPPDirectives: AfterHash

AlignAfterOpenBracket: Align
AlignArrayOfStructures: Left
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
  AlignCompound: true
  PadOperators: true
AlignOperands: Align

AllowAllArgumentsOnNextLine: false
AllowShortIfStatementsOnASingleLine: true
AlwaysBreakTemplateDeclarations: true
BinPackArguments: false
BreakBeforeBinaryOperators: None

SpaceBeforeParens: Custom

PenaltyBreakAssignment: 500

CommentPragmas: '(Contact:|auto|using|if|return|\}\(\);)'
