[submodule "core/external/mimalloc"]
	path = core/external/mimalloc
	url = https://github.com/microsoft/mimalloc.git
[submodule "core/external/distopia/highway"]
	path = core/external/distopia/highway
	url = https://github.com/google/highway.git
[submodule "core/external/spdlog"]
	path = core/external/spdlog
	url = https://github.com/gabime/spdlog.git
