[submodule "cpp/external/mimalloc"]
	path = cpp/external/mimalloc
	url = https://github.com/microsoft/mimalloc.git
[submodule "cpp/external/distopia/highway"]
	path = cpp/external/distopia/highway
	url = https://github.com/google/highway.git
